<!DOCTYPE html>
<html ng-app="app" ng-controller="TodoController">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TODO List</title>
    <!-- CSS only -->
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/sandstone/bootstrap.min.css" rel="stylesheet" integrity="sha384-ztQCCdmKhYHBDMV3AyR4QGZ2/z6veowJBbsmvDJW/sTuMpB9lpoubJuD0ODGSbjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../bower_components/toastr/toastr.min.css"></link:rel>
    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">
  </head>
  <body>
    <div ng-include="'header.html'"></div>
    <div class="container">
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="text-center">#</th>
            <th class="text-center"><a href="" ng-click="ordenar('text')">Tarefa</a></th>
            <th class="text-center"><a href="" ng-click="ordenar('done')">Status</a></th>
            <th class="text-center"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="3">
              <input type="text" class="form-control" ng-model="todo.text" placeholder="Nova tarefa">
            </td>
            <td class="text-center">
              <button class="btn btn-success" ng-click="adicionar()">Adicionar</button>
            </td>
          </tr>
          <tr>
            <td colspan="4">
              <input type="text" class="form-control" placeholder="Filtrar por tarefa" ng-model="filter">
            </td>
          </tr>
          <tr ng-repeat="todo in todos | filter: filter | orderBy: order">
            <td class="text-center">{{ todo.id }}</td>
            <td class="text-center">{{ todo.text }}</td>
            <td class="text-center"><input type="checkbox" ng-model="todo.done"></td>
            <td class="text-center">
              <button class="btn btn-sm btn-danger" ng-click="remover(todo)">
                <i class="fas fa-ban"></i>
                Remover</button>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4" class="text-right">
              <strong ng-if="remaining() == 1">{{ remaining() }} tarefa restante</strong>
              <strong ng-if="remaining() > 1">{{ remaining() }} tarefas restantes</strong>
            </td>
          </tr>
        </tfoot>
      </table>
      <hr>
    </div>
      

    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/toastr/toastr.min.js"></script>
    <script src="../bower_components/angular/angular.min.js"></script>
    <script>
      angular.module("app", []);
      var app = angular.module("app");

      app.controller("TodoController", function ($scope) {
        $scope.theme = 'sandstone';
        $scope.order = 'text';
        $scope.todo = { id: 0, text: '', done: false };
        $scope.todos = [
          { id: 1, text: 'Tarefa 2', done: false },
          { id: 2, text: 'Tarefa 1', done: true },
          { id: 3, text: 'Tarefa 4', done: true },
          { id: 4, text: 'Tarefa 3', done: false },
        ];

        $scope.remover = function (todo) {
          var index = $scope.todos.indexOf(todo);
          $scope.todos.splice(index, 1);
        }

        $scope.adicionar = function () {
          $scope.todo.id = $scope.todos.length + 1;
          $scope.todos.push($scope.todo);
          $scope.todo = { id: 0, text: '', done: false };
        }

        $scope.ordenar = function (ordenacao) {
          $scope.order = ordenacao;
        }

        $scope.remaining = function () {
          var count = 0;
          angular.forEach($scope.todos, function(item){
            count += item.done ? 0 : 1;
          });

          return count;
        }

        $scope.trocaTema = function (tema) {
          $scope.theme = tema;
        }
      });
    </script>
  </body>
</html>
