<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TODO List</title>
    <!-- CSS only -->
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/sandstone/bootstrap.min.css" rel="stylesheet" integrity="sha384-ztQCCdmKhYHBDMV3AyR4QGZ2/z6veowJBbsmvDJW/sTuMpB9lpoubJuD0ODGSbjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../bower_components/toastr/toastr.min.css"></link:rel>
    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">
  </head>
  <body>
    <div ng-include="'header.html'"></div>
    <div ng-show="isPageBusy">Loading</div>
    <div class="container" ng-hide="isPageBusy">
      <div ng-controller="ModalDemoCtrl">
          <script type="text/ng-template" id="myModalContent.html">
              <div class="modal-header">
                  <h3 class="modal-title">I'm a modal!</h3>
              </div>
              <div class="modal-body">
                  <ul>
                      <li ng-repeat="item in items">
                          <a ng-click="selected.item = item">{{ item }}</a>
                      </li>
                  </ul>
                  Selected: <b>{{ selected.item }}</b>
              </div>
              <div class="modal-footer">
                  <button class="btn btn-primary" ng-click="ok()">OK</button>
                  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
              </div>
          </script>
  
          <button class="btn btn-default" ng-click="open()">Open me!</button>
          <div ng-show="selected">Selection from a modal: {{ selected }}</div>
      </div>
  </div>
      

    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/toastr/toastr.min.js"></script>
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/angular-cookie/angular-cookie.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.6/ui-bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.6/ui-bootstrap-tpls.min.js"></script>
    <script>
      angular.module('app', ['ui.bootstrap']);
      var app = angular.module('app');
  
      app.controller('ModalDemoCtrl', function ($scope, $uibModal) {
  
          $scope.items = ['item1', 'item2', 'item3'];
          $scope.animationsEnabled = true;
          $scope.selected = '';
  
          $scope.open = function () {
              // Inicia o Loading...
              var modalInstance = $uibModal.open({
                  animation: $scope.animationsEnabled,
                  templateUrl: 'myModalContent.html',
                  controller: 'ModalInstanceCtrl',
                  size: 'lg',
                  resolve: {
                      items: function () {
                          return $scope.items;
                      }
                  }
              });
  
              modalInstance.result.then(function (selectedItem) {
                  // Finaliza o Loading...
                  $scope.selected = selectedItem;
              }, function () {
                  //$log.info('Modal dismissed at: ' + new Date());
              });
          };
  
          $scope.toggleAnimation = function () {
              $scope.animationsEnabled = !$scope.animationsEnabled;
          };
  
      });
  
      app.controller('ModalInstanceCtrl', function ($scope, $uibModalInstance, items) {
          $scope.items = items;
          $scope.selected = {
              item: $scope.items[0]
          };
  
          $scope.ok = function () {
              $uibModalInstance.close($scope.selected.item);
          };
  
          $scope.cancel = function () {
              $uibModalInstance.dismiss('cancel');
          };
      });
  </script>
  </body>
</html>
